/* app.css */

:root {
  --sage-green: #87AE73;
  --soft-ivory: #F5F5F5;
  --muted-gray: #A0A0A0;
  --earth-brown: #755E48;
  --soft-blue-gray: #6AA7B2;
}

#root {
  height: 100%;
  width: 80%;
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

body {
  background-color: var(--soft-ivory);
  width: 100%;
}

.container {
  padding: 20px;
}

.member {
  background-color: var(--sage-green);
  border: 2px solid var(--muted-gray);
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  width: 250px;
  margin: 10px;
}

.member img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.links a {
  display: inline-block;
  margin: 5px;
  padding: 8px 12px;
  border: 2px solid var(--earth-brown);
  border-radius: 5px;
  color: var(--earth-brown);
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.links a:hover {
  background-color: var(--earth-brown);
  color: var(--soft-ivory);
}

h1,
h2,
p {
  color: black;
}

.app-header {
  background-color: var(--sage-green);
}

.app-header .navbar {
  padding: 10px;
}

.nav-buttons {
  width: 50%;
}

.nav-buttons .navbar-collapse .navbar-nav>* {
  border-radius: 5px;
  margin: 0 5px 0 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.nav-buttons .navbar-collapse .navbar-nav>*:hover {
  background-color: #7a9c69;
  transform: translate(-1px, 1px);
}

.auth-button {
  background-color: var(--earth-brown);

}

.auth-button:focus,
.auth-button:hover {
  border-color: var(--sage-green);
}

.main {
  background-color: #467d83;
}

.about-background {
  background-color: var(--soft-blue-gray);
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.members-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.nav-logo .hotel-image {
  width: 20%;
}

.app-section {
  padding: 8px 20px 8px 20px;
  border-radius: 10px;
  margin: clamp(60px, 5%, 100px) 0;
  font-size: clamp(1rem, 1vw, 1.5rem);
}

.location-section {
  display: flex;
  justify-content: space-between;
}

.location-form {
  width: 30%;
  padding: 16px;
  border-radius: 10px;
  margin: auto;
  text-align: center;
  background-color: var(--soft-ivory);
}

.location-form button {
  margin-top: 10px;
  background-color: var(--sage-green);
  border-color: var(--sage-green);
}

.location-form button:hover {
  background-color: #7a9c69;
  border-color: var(--sage-green);
}

.city-card {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--soft-ivory);
}

.inputForm-section {
  background-color: var(--soft-ivory);
  padding: 20px;
  margin: 0 20px 0 20px;
}

.inputForm-section div {
  width: 90%;
  margin: auto;
}

.big-calendar {
  background-color: var(--soft-ivory);
  padding: 20px;
  border-radius: 20px;
}

.app-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--sage-green);
}

.app-footer a {
  text-decoration: none;
  color: black;
  padding: 5px;
}