.container {
    background-color:#f5f5dc;
}

.members2 {
    display:flex;
    justify-content:center;
}

.member1 {
    display:flex;
    justify-content:center;
}

p {
    color: #6aa7b2;
}

h1 {
    color: #6aa7b2;
}
